Source: ulfius
Version: 2.6.4
Description: Web Framework to build REST APIs, Webservices or any HTTP endpoint in C language
Build-Depends: yder, libmicrohttpd (windows), jansson, curl, pthreads (windows)